@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Mulish&display=swap");
h1 {
  font-family: DM Sans;
  font-size: 80px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -2.5010533332824707px;
  text-align: left;
}
h2{
  font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 70px;
letter-spacing: -1.875789999961853px;
text-align: left;

}
p {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6252632141113281px;
  text-align: left;
  color: var(--main-grey);
}
h3 {
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -1.563158392906189px;
  text-align: left;
}
h4 {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.7503160238265991px;
  text-align: center;
}
