.learn-more{
    background-color: white;
    color: var(--main-blue);
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.5314737558364868px;
    text-align: left;
    border: none;

}