.subscription-business {
  margin-bottom: 110px;
}
.subscription-business__container {
  display: flex;
  justify-content: space-between;
}
.subscription-business__content {
  display: inline-flex;
  vertical-align: top;
  flex-direction: column;
  max-width: 462px;
}
.subscription-business__title {
  max-width: 462px;
  min-height: 231px;
  margin-bottom: 30px;
}
.subscription-business__subtitle {
  max-width: 459px;
  margin-bottom: 90px;
  color: var(--main-grey);
}
.get-started__conteiner {
  display: flex;
  align-items: center;
}
.get__started {
  background-color: var(--main-blue);
  justify-content: flex-start;
}
.arrow-down {
  margin-left: 40px;
  max-width: 60px;
  max-height: 60px;
}
.subscription-business__photo {
  display: flex;
  max-width: 580px;
  max-height: 644px;
}
